@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

body {
    background-image: url(imagem/Temen-ni-gun.png), url(imagem/Temen-ni-gun.png), url(imagem/Temen\ ni\ gun.jpg);
    background-size: 100px, 100px, cover;
    background-repeat: repeat-y;
    background-position: left, right, center;
    color: rgb(207, 18, 18);
    font-family: 'Goldman', sans-serif;
    text-align: center;
    text-shadow: 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
    font-style: oblique;
    font-weight: bolder;
    font-size: 1.2em;
    margin: 0px 100px;

}

a {
    text-decoration: none;
    color: grey;


}

a:hover {
    color: white;

}

#jar-intro,
#jar-supporting {
    border: 5px solid #4c3f37;
    margin: 50px;
}

#jar-intro {
    margin-top: 0px;
}

ul {
    list-style: none;
}

#jar-link-list {
    position: fixed;
    right: calc(-400px);
    top: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    width: 400px;
    background-image: url(imagem/Rebellion.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    transition: 500ms;
    padding-left: 100px;
}

#jar-link-list:hover {
    right: 0;

}

#jar-header {
    background-image: url(imagem/Jester.jpg);
    height: 300px;
    width: 100%;
    background-size: cover;
    margin: auto;
    align-items: center;
    display: block;
    text-align: center;
    padding: 0px;
}

#jar-header h1,
#jar-header h2 {
    margin: 0px;
    color: aliceblue;
}

#jar-header h1 {
    padding-top: 4%;
    font-size: 100px;
}

#jar-header h2 {
    font-size: 25px;
}

h3 {
    color: black;
    text-shadow: 2px 2px gray, -2px -2px gray, 2px -2px grey, -2px 2px grey;
}

#jar-preamble {
    padding: 50px 25%;
    background-image: url(imagem/Doppelganger.png), url(imagem/Sparda.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 93% 50%, 7% 50%;

}